h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	margin-bottom: 40px; 
}

p { font-size: 1.5em; text-align: justify;}
ul li { font-size: 1.5em; }

@media (min-width: 765px) and (max-width: 2500px) {
	.nav > li > a {
		padding: 15px 25px;
	}

	.navbar-inverse {
		background-color: #000000;
	    opacity: 0.6;
	    border: 0 none;
	    top: 5px;
	}

	.navbar-inverse .navbar-brand {
		color: #ffffff;
	}

	.navbar-brand {
		font-size: 40px;
		line-height: 85px;
	}

	.navbar-nav > li > a {
		line-height: 85px;
	}

	.navbar-inverse.navbar-fixed-top.navbar-shrink {
		background-color: #333;
		opacity: 1;
		top: 0;
	}

	.navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav > li > a {
		line-height: 20px;
		font-size: 15px;
	}

	.navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-brand {
		line-height: 20px;
		font-size: 25px;
	}

	.navbar-inverse .navbar-nav > li > a {
		font-size: 20px;
		color: #ffffff;
		text-transform: uppercase;
	}

	.navbar-inverse .navbar-nav > li > a:hover {
		background-color: rgba(225, 225, 225, 0.8);
		line-height: 85px;
		color: #000000;
		opacity: 0.8;
	}

	/* Navbar animation */
	.navbar-fixed-top {
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top .navbar-collapse .nav li a{  
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
}

/* Remove when dinamic */ 
@media (max-width: 3000px) {
	.col-sm-4 {
		height: 160px;
		overflow: hidden;
		margin-bottom: 30px;
	}
}

@media (max-width: 2500px) {
	.col-sm-4 {
		height: 155px;
	}
}

@media (max-width: 1200px) {
	.col-sm-4 {
		height: 130px;
	}
}

@media (max-width: 991px) {
	.col-sm-4 {
		height: 90px;
	}
}
/* End remove when dinamic */

@media (max-width: 765px) {
	.iso-item img {
		width: 100%;
		display: block;
	}
}


.flexslider {
	border: none;
}

/* Remove height. Crop image on server side */
.flexslider .slides img {
    max-width: 100%; 
    height: 550px; 
    display: block;
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.button:active, .button.is-checked {
    background-color: #28f;
}

section {
	margin-bottom: 40px;
}






