h1, 
h2, 
h3, 
h4 {
	font-weight: bold;
	text-align: center;
	font-family: "Montserrat",sans-serif;
	font-weight: 700; 
	color: #171a1c;
}

h4 { font-size: 40px; }

h5, h6 {
	color: #171a1c;
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
    margin: 10px 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

body {
	background: #fff;
	color: #666666;
	font: normal 18px 'Cardo',serif;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:100%;
}

p { line-height: 1.6em; margin: 20px 0; }

p.sub-heading { font-size: 25px; }

ul li { font-size: 1.5em; }

.center { text-align: center; }

.feature-box .glyphicon{ font-size: 50px; }

.feature-box .fa { font-size: 50px; }

.flexslider { margin: 0; }

.btn-success {
	border-color: transparent;
}

.btn-success:hover {
	border-color: #fff;
}

.btn-lg, .btn-group-lg > .btn {
	color: #666666;
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2em;
   	margin: 20px 0;
    position: relative;
    text-transform: uppercase;
}

.form-group .btn-lg, .btn-group-lg > .btn { 
	font-size: 20px;
	color: #ffffff;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}

.padded {
	padding-top: 50px;
} 

.padded-both {
	padding-top: 50px;
	padding-bottom: 50px;
}

.feature-box {
	margin-top: 20px;
}

.white {
	color: #ffffff;
}

#contact p.sub-heading {
	color: #d1d1d1;
}

@media (min-width: 758px) {
	.padded {
		padding-top: 70px;
	}

	.padded-both {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}

@media (min-width: 1200px) {
	.padded {
		padding-top: 100px;
	}

	.padded-both {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.feature-box {
		margin-top: 25px;
	}
}

@media (min-width: 765px) and (max-width: 3000px) {
	.nav > li > a {
		padding: 15px 21px;
	}

	.navbar-inverse {
		background-color: #000000;
	    opacity: 0.6;
	    border: 0 none;
	    top: 5px;
	}

	.navbar-inverse .navbar-brand {
		font-family: "Montserrat",sans-serif;
		color: #ffffff;
	}

	.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a {
		font-family: "Montserrat",sans-serif;
	} 

	.navbar-brand {
		font-size: 40px;
		line-height: 85px;
	}

	.navbar-nav > li > a {
		font-family: "Montserrat",sans-serif;
		line-height: 85px;
	}

	.navbar-inverse.navbar-fixed-top.navbar-shrink {
		background-color: #333;
		opacity: 1;
		top: 0;
	}

	.navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav > li > a {
		line-height: 20px;
		font-size: 15px;
	}

	.navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-brand {
		line-height: 20px;
		font-size: 25px;
	}

	.navbar-inverse .navbar-nav > li > a {
		font-size: 20px;
		color: #ffffff;
		text-transform: uppercase;
	}

	.navbar-inverse .navbar-nav > li > a:hover {
		background-color: rgba(225, 225, 225, 0.8);
		line-height: 85px;
		color: #000000;
		opacity: 0.8;
	}

	/* Navbar animation */
	.navbar-fixed-top {
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
    	
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top .navbar-collapse .nav li a{  
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
}

.isotope img {
	margin-bottom: 10%;
}

@media (max-width: 765px) {
	.iso-item img {
		width: 100%;
		display: block;
	}
}


.flexslider {
	border: none;
}

img {
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}


.contact {
  
    background-color: #171a1c;
    text-align: center;
}

.contact h2 {
	color: #ffffff;
	margin-top: 40px;
}

.button:active, .button.is-checked {
    background-color: #000000;
    border-color: #A3A3A3;
    color: #ffffff;
}

.button {
	margin: 30px 10px;
}

/* Forum */
.control-group {
	margin: 0;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    opacity: .3;
    border-radius: 5px;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

#footer {
	background-color: #171a1c;
}

.space {
	margin: 25px 0;
}

.btn-social {
    border: 2px solid #fff;
    border-radius: 100%;
    display: inline-block;
    font-size: 20px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    width: 50px;
}
.btn-outline {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 2px solid #fff;
    color: #fff;
    font-size: 20px;
    margin: 15px 0;
    transition: all 0.3s ease-in-out 0s;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #fff;
    color: #000000;
    cursor: pointer;
}

.tooltip {
	display: inline-block;
	opacity: 1;
	position: relative;
}